@model IEnumerable<FPT_Training_4._0.Models.ClassCourse>
@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="col">
        <br>
        @foreach (var item in Model)
        {
            <div clsas="post col-md-12">
                <h1>@item.ClassName</h1>
                <h4>Course: @item.Course</h4>
                <p>
                    Description: <br />
                    @item.Description
                </p>
                <div>
                    <span class="badge">DateFrom: @item.DateFrom - DateTo: @item.DateTo</span><div class="pull-right">
                    </div>
                </div>
            </div>
            <br />
            <p><a class="btn btn-default" href="@Url.Action("ClassDetails","ClassCourses", new { id = item.Id})"> Detail &raquo;</a></p>
            <hr>

        }
    </div>
</div>

