@model FPT_Training_4._0.Models.UserEdit
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="page-header">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="title">
                <h4>Profile</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Admin")">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                </ol>
            </nav>
        </div>
    </div>
    @Html.ActionLink("Back to List", "UsersWithRoles", "ManageUser")
</div>
<div class="row">
    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12 mb-30">
        <div class="pd-20 card-box height-100-p">
            <h5 class="text-center h5 mb-0">@Model.FullName</h5>
            <p class="text-center text-muted font-14">@Model.Description</p>
            <div class="profile-info">
                <h5 class="mb-20 h5 text-blue">Contact Information</h5>
                <ul>
                    <li>
                        <span>Email Address:</span>
                        @Model.Email
                    </li>
                    <li>
                        <span>Phone Number:</span>
                        @Model.Contact
                    </li>
                    <li>
                        <span>Country:</span>
                        @Model.Country
                    </li>
                    <li>
                        <span>Address:</span>
                        @Model.Address<br>
                        @Model.City
                    </li>
                    <li>
                        <div class="dropdown">
                            <a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                                <i class="dw dw-more"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                                <a class="dropdown-item" href="@Url.Action("EditUser","Account",new { email = Model.Email })"><i class="dw dw-edit2"></i> Edit</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xl-8 col-lg-8 col-md-8 col-sm-12 mb-30">
        <div class="card-box height-100-p overflow-hidden">
            <div class="profile-tab height-100-p">
                <div class="tab height-100-p">
                    <ul class="nav nav-tabs customtab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#timeline" role="tab">Timeline</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <!-- Timeline Tab start -->
                        <div class="tab-pane fade show active" id="timeline" role="tabpanel">
                            <div class="pd-20">
                                <div class="profile-timeline">
                                    <div class="timeline-month">
                                        <h5>August, 2020</h5>
                                    </div>
                                    <div class="profile-timeline-list">
                                        <ul>
                                            <li>
                                                <div class="date">12 Aug</div>
                                                <div class="task-name"><i class="ion-android-alarm-clock"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 Aug</div>
                                                <div class="task-name"><i class="ion-ios-chatboxes"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 Aug</div>
                                                <div class="task-name"><i class="ion-ios-clock"></i> Event Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 Aug</div>
                                                <div class="task-name"><i class="ion-ios-clock"></i> Event Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="timeline-month">
                                        <h5>July, 2020</h5>
                                    </div>
                                    <div class="profile-timeline-list">
                                        <ul>
                                            <li>
                                                <div class="date">12 July</div>
                                                <div class="task-name"><i class="ion-android-alarm-clock"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 July</div>
                                                <div class="task-name"><i class="ion-ios-chatboxes"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="timeline-month">
                                        <h5>June, 2020</h5>
                                    </div>
                                    <div class="profile-timeline-list">
                                        <ul>
                                            <li>
                                                <div class="date">12 June</div>
                                                <div class="task-name"><i class="ion-android-alarm-clock"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 June</div>
                                                <div class="task-name"><i class="ion-ios-chatboxes"></i> Task Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                            <li>
                                                <div class="date">10 June</div>
                                                <div class="task-name"><i class="ion-ios-clock"></i> Event Added</div>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="task-time">09:30 am</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Timeline Tab End -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
